  * {
      margin: 0;
      box-sizing: border-box;
  }

  body {
      font-family: "Lexend Deca", Arial, sans-serif;
      color: #ffffff;
      width: (1 440px);
      background-color: #111827;
  }

  /* Intro Section Starts */

  header {
      background-color: #020617;
      padding: 16px 8px;
  }

  nav {
      background-color: #020617;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 70px;

  }

  .logo a {
      font-size: 24px;
      color: #ffffff;
      font-family: Lexend Deca;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;

  }

  .logo span {
      color: #EAB308;
  }

  .logo a {
      text-decoration: none;
  }

  .logo :hover {
      background-image: linear-gradient(to right, #9a5fff, #3e40c0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition-duration: 0.3s;
  }

  .menu-list {
      list-style: none;
      text-transform: uppercase;
      display: flex;
  }

  .menu-list li {
      margin-left: 30px;
  }

  .menu-list a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #ffffff;
      text-decoration: none;
  }

  .menu-list a:hover {
      color: #9aa0e4;
  }

  .hero-section {
      display: flex;
      width: (1440px);
      height: (619px);
      padding: 96px 165px 96px 165px;
      gap: 8px;
  }

  .main-text {
      margin-top: 100px;
      width: (466px);
      height: (271px);
      gap: 24px;
      margin-right: 350px;
  }

  .main-text h2 {
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: #EAB308;

  }

  .main-text h1 {
      font-size: 42px;
      font-weight: 700;
      line-height: 64px;
      text-align: left;
      color: #F3F4F6;
  }

  .main-text p {

      width: (466px);
      height: (153px);
      gap: 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: #6B7280;
  }

  .profile {
      width: 427px;
      height: 427px;
      border-radius: 24px;
      margin-left: -250px;
      margin-right: 50px;
  }

  .main-image {
      height: 90%;
      width: 150%;
      border-radius: 24px;
      object-fit: cover;
  }

  button {
      background-color: #FACC15;
      width: (123px);
      height: (43px);
      padding: 8px 20px 8px 20px;
      margin-top: 10px;
      border-radius: 4px;

  }

  .main-text button:hover {
      background-color: #a4e77e;
      cursor: pointer;
  }

  /* Intro Section Ends */

  /* About Section */
  .aboutme {
      display: flex;
      background-color: #020617;
      width: (1 108px);
      height: (704px);
      padding: 96px 0px 96px 0px;
      gap: 89px;
      opacity: 0px;

  }

  .aboutprofile {
      position: relative;
      z-index: 1;
      width: 510px;
      height: 512px;
      border-radius: 24px;
      border: 16px solid #EAB308;
      margin-left: 160px;
      margin-right: 100px;
  }

  .pp img {
      display: block;
      position: relative;
      width: 510px;
      height: 512px;
      z-index: 2;
      top: -55px;
      left: 10px;
      border-radius: 24px;

  }

  .aboutintro {
      width: (509px);
      height: (348px);
      gap: 32px;
  }

  .aboutintro h1 {
      font-size: 42px;
      font-weight: 700;
      line-height: 64px;
      text-align: left;
      margin-top: 80px;

  }

  .aboutintro span {
      color: #EAB308;
  }

  .aboutme-bottom {
      width: (509px);
      height: (252px);
      gap: 40px;
      margin-right: 90px;

      .abouttext {
          width: (509px);
          height: (153px);
          gap: 18px;
      }
  }

  .aboutintro h1:hover {
      background-image: linear-gradient(to right, #9a5fff, #3e40c0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition-duration: 0.3s;
  }

  .abouttext .content {
      margin-top: 30px;
      font-family: Lexend Deca;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: #6B7280;
  }

  .abouttext p {
      margin-top: 20px;
      font-family: Lexend Deca;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: #6B7280;
  }

  .btn button {
      width: (124px);
      height: (59px);
      padding: 16px 20px 16px 20px;
      gap: 10px;
      border-radius: 4px;
  }

  .btn button:hover {
      background-color: #97d275;
      cursor: pointer;
  }

  /* About Section Ends  */

  /* Services Starts*/

  .services {
      flex-direction: column;
      width: (1440px);
      height: (759px);
      padding: 96px 165px 96px 165px;
      gap: 8px;
      background-color: #111827;
  }

  .servicediv {
      width: (1110px);
      height: (567px);
      gap: 56px;

  }

  .service-head {
      width: (461px);
      height: (169px);
      gap: 24px;
  }

  .service-head h1 {
      font-size: 42px;
      font-weight: 700;
      line-height: 64px;
      text-align: left;

  }

  .service-head h1 span {
      color: #ffcc00;
  }

  .service-head p {
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
      color: #6B7280;
      margin-top: 10px;
      margin-right: 590px;
  }

  .service-head h1:hover {
      background-image: linear-gradient(to right, #9a5fff, #3e40c0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition-duration: 0.3s;
  }

  .servicebottom {
      display: flex;
      width: (1110px);
      height: (342px);
      gap: 30px;
      margin-top: 50px;
  }

  .servicebox:hover {
      cursor: pointer;
      background-image: linear-gradient(#c76f72 0%, #944154 55%, #af126b);
  }

  .servicebox {
      display: flex;
      width: (350px);
      height: (342px);
      padding: 32px;
      border-radius: 12px;
      background-color: #020617;
  }

  .mainbox {
      width: (286px);
      height: (278px);
      gap: 32px;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .mainbox img {
      display: inline-block;
      transition: transform 0.3s ease-in-out;
  }

  .mainbox img:hover {
      animation: bounce 0.5s;
      filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
  }

  .mainbox h3 {
      font-size: 26px;
      font-weight: 700;
      line-height: 41px;
      text-align: center;
      color: #F3F4F6;
      width: 204px;
      margin: 20px auto;
      line-height: 1.4;
  }

  /* Services Ends */

  /* portfolio starts*/

  .portfolio {
      display: flex;
      flex-direction: column;
      width: (1110px);
      height: (1006px);
      padding: 96px 0px 96px 0px;
      gap: 80px;
      background-color: #020617;
  }

  .portfolio-text {
      width: (461px)px;
      height: (169px)px;
      gap: 24px;
  }

  .portfolio-text h1 {
      text-align: center;
      width: 262px;
      height: 64px;
      font-size: 42px;
      font-weight: 700;
      line-height: 64px;
      margin: 25px auto;
  }

  .portfolio h1:hover {
      background-image: linear-gradient(to right, #9a5fff, #3e40c0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition-duration: 0.3s;
  }

  .portfolio-text span {
      color: #EAB308;
  }

  .portfolio-text p {
      margin: 25px auto;
      text-align: center;
      width: 461px;
      height: 81px;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      color: #9CA3AF;
  }

  .portfolio-images {
      display: flex;
      flex-wrap: wrap;
      height: 505px;
      border-radius: 12px;
  }

  .large img {
      width: 540px;
      height: 565px;
      border-radius: 12px;
      margin-left: 110px;
  }

  .innerimages {
      display: flex;
      width: (543px);
      height: (565px);
      margin-left: 25px;
      gap: 31px;

  }

  .finalimages1 {
      display: flex;
      flex-direction: column;
      width: 256px;
      height: 565px;
      gap: 29px;
  }

  .finalimages2 {
      display: flex;
      flex-direction: column;
      width: 256px;
      height: 565px;
      gap: 29px;
  }



  .finalimages1 img, .finalimages2 img {
      width: 256px;
      height: 268px;
      border-radius: 12px;
  }

  /* Portfolio Ends */


  /* Contact Us */
  .contactus {
      display: grid;
      background-color: 111827;
      width: (1110px);
      height: (742px);
      padding: 96px 0px 96px 0px;
      gap: 56px;
  }

  .contacttop {
      display: grid;
      width: (685px);
      height: (142px);
      gap: 24px;
  }

  .contactbtn {
      width: (242px);
      height: (64px);
      margin-bottom: 8px;
      font-size: 42px;
      font-weight: 700;
      line-height: 64px;
      text-align: center;
  }

  .contactbtn:hover {
      background-image: linear-gradient(to right, #9a5fff, #3e40c0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition-duration: 0.3s;
  }

  .contactbtn span {
      color: #EAB308;
  }

  .contacttop p {
      width: 685px;
      height: 54px;
      margin: auto;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;

  }

  .contactbottom {
      display: flex;
      width: (1110px);
      height: (352px);
      gap: 150px;
  }


  @keyframes bounce {
      0%, 100% {
          transform: translateY(0);
      }

      50% {
          transform: translateY(-15px);
      }
  }

  .contactdetails {
      display: grid;
      margin: auto;
      width: (347px);
      height: (253px);
      gap: 16px;
  }

  .contactdetails h2 {
      font-size: 16px;
      font-weight: 400;
      line-height: 41px;
      text-align: left;
      color: #EAB308;
  }

  .contactdetails span {
      color: #F3F4F6;
  }

  .contactform {
      display: flex;
      flex-direction: column;
      width: (540px)px;
      height: (352px)px;
      margin: auto;
      gap: 32px;
  }


  .contactform input[type="text"] {
      width: 350px;
      height: 63px;
      font-size: 16px;
      font-weight: 400;
      line-height: 41px;
      text-align: left;
      background-color: #1F2937;
      color: #F3F4F6;
  }

  .contactform textarea {
      width: 350px;
      height: 63px;
      font-size: 16px;
      font-weight: 400;
      line-height: 41px;
      text-align: left;
      color: #F3F4F6;
      background-color: #1F2937;

  }

  .contactform button {
      width: (123px);
      height: (59px);
      padding: 16px 20px 16px 20px;
      gap: 10px;
      border-radius: 4px;
      background-color: #EAB308;
  }

  .contactform button:hover {
      cursor: pointer;
      background-color: #97d275;
  }

  /* Contact us Ends */

  /* Footer starts */

  .footer {
      width: (685px);
      height: (320px);
      padding: 56px 0px 56px 0px;
      gap: 56px;
  }

  .footertop {
      width: (685px);
      height: (128px);
      gap: 24px;
  }

  .footertop h1 {
      margin: auto;
      width: 191px;
      height: 50px;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;
      color: #FFFFFF;
  }

  .footertop h1:hover {
      background-image: linear-gradient(to right, #9a5fff, #3e40c0);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition-duration: 0.3s;
  }

  .footertop p {
      margin: auto;
      width: 685px;
      height: 54px;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      color: #9CA3AF;
  }

  .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      width: (224px);
      height: (24px);
      gap: 16px;

  }

  .social-icons a {
      color: #1F2937;
  }

  a:nth-child(3) {
      color: #EAB308;
  }

  .fab {
      transition: transform 0.2s ease-in-out;
  }

  .fab:hover {
      transform: scale(1.9);
      color: #4b2095;
  }

  /* Footer Ends */